<h1>Formulario para el nombre</h1>

<form action="/nombre">
    <label for="nombre">Nombre</label>
    <input type="text" name="nombre">
    {{!-- Input apellido --}}
    <label for="apellido">Apellido</label>
    <input type="text" name="apellido">

    <button type="submit">Enviar Info</button>
</form>
